<h1> main index page </h1>

<!-- this is to create new assets -->

<!-- Button trigger modal -->
<div class="container">
<button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Create Asset
</button>

<!-- app/views/posts/index.html.erb -->

<!-- Filter form -->
<%= form_tag(filter_posts_path, method: :get, remote: true) do %>
  <div class="form-group">
    <%= label_tag :place_name %>
    <%= text_field_tag :place_name %>
  </div>
  <!-- Add similar input fields for other filter criteria -->
  <div class="form-group">
    <%= submit_tag "Filter", class: "btn btn-primary" %>
  </div>
<% end %>


<% if @all_assets.present? %>

<!-- Display filtered posts here -->
<div id="filtered-posts">
  <% @all_assets.each do |post| %>
    <!-- Render post details -->
  <% end %>
</div>

<% end %>



<!-- Filter-->
<div class="container">
  <% form_with model:@asset_filter, url: posts_path, method: :post do |f|%>
        <div class="my-3">
          <%= f.label :category %>
          <%= f.select :category, ["Art", "Business", "Child Care", "Education", "Environment", "Food", "Health", "Housing", "Industry", "Safety", "Transportation"], { include_blank: "Select a category" }, class: "form-control" %>
        </div>
  <% end %>
</div>



</div>
<%  %>
<!-- Asset  Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
      </div>
      <div class="modal-body">
        <%= form_for @asset, url: posts_path do |f| %>

        <div class="my-3">
        <%= f.label :place_name %>
        <%= f.text_field :place_name , placeholder:"Enter place name" ,class:"form-control"%>
        </div>

        <div class="my-3">
          <%= f.label :address %>
          <%= f.text_field :address ,placeholder:"Enter address",class:"form-control"%>
        </div>

        <!-- type of stuff radio button -->
         <div class="my-3">
          <p>I would like to share:</p>
          <%= f.radio_button :stuff, "Good" %>
          <%= f.label :stuff, "Good" %><br>
          <%= f.radio_button :stuff, "Fix" %>
          <%= f.label :stuff, "Fix" %><br>
          <%= f.radio_button :stuff, "Bad" %>
          <%= f.label :stuff, "Bad" %>
        </div>

        <!-- rating integer field scale 1 to 5 -->
         <div class="my-3">
          <%= f.label :rating %>
          <%= f.select :rating, (1..5), { include_blank: "Select a rating" }, class: "form-control" %>
        </div>

        <div class="my-3">
          <%= f.label :category %>
          <%= f.select :category, ["Art", "Business", "Child Care", "Education", "Environment", "Food", "Health", "Housing", "Industry", "Safety", "Transportation"], { include_blank: "Select a category" }, class: "form-control" %>
        </div>

        <div class="my-3">
          <%= f.label :description %>
          <%= f.text_area :description,class:"form-control" %>
        </div>

        <div class="my-3">
          <%= f.label :Media %>
          <%= f.file_field :files, multiple: true , class:"form-control"%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <div class="my-3">
          <%= f.submit "submit", class:"btn btn-primary" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<!-- show all assets-->

<div class="container">
<% @all_assets.each do |asset| %>
  <div class="card my-3" style="width: 35rem; height: 35:rem ">
    <div class="card-body">
      <h5 class="card-title"><%= asset.place_name %></h5>
      <i style="display:block"> <%= asset.address %> </i>
      <b> <%= asset.category %> <p> <%= asset.stuff %> </p> </b>
      <p> <%= asset.rating %> </p>
      <p> <%= asset.description %> </p>

      <hr>
      <i style="display:block"> <%= asset.created_at %> </i>
      <!-- Media showing -->
      <% if asset.files.attached? %>
        <% asset.files.each do |file| %>
          <% if file.content_type.start_with?('image') %>
            <%= image_tag(file, class: "card-img-top img-thumbnail", style: "width:50px;height:50px") %>
          <% elsif file.content_type.start_with?('video') %>
            <%= video_tag(url_for(file), style: "width:20px;height:20px", controls: true) %>
          <% elsif file.content_type.start_with?('audio') %>
            <%= audio_tag(url_for(file), class: "message-audio") %>
          <% end %>

        <% end %>

      <% end %>
       <%= link_to "Edit", edit_post_path(asset.id), class: "btn btn-primary" %>
       <%= button_to "Delete", post_path(asset), method: :delete, class: "my-3 btn btn-danger" %>
     <%= link_to "Share story", new_post_story_path(asset), class: "btn btn-primary my-2", style: "display:block" %>
      <%#= link_to "Edit", edit_asset_path(), class: "nav-link active" %>
    </div>
  </div>
<% end %>
</div>


