<div class="nested-fields" >
  <div class="mb-3">
    <%= f.label :question_name %>
    <%= f.text_field :statement,  class:"form-control", placeholder: "enter your question" %>
  </div>

  <div class="mb-3">

    <%= f.label :answer %>
      <%= f.text_field :open ,class:"form-control", placeholder: "answer" %>
  </div>
  <%= link_to_remove_association "remove Question", f, class:"btn btn-primary" %>

</div>
